/* *{
   margin: 0;
   padding: 0;
   font-family: sans-serif;

} */
.main{
   width: 97%;
   height: 100vh;
   background-image: url("C:\\Users\\tg68\\Downloads\\main.jpeg");
  
   background-size:cover;
  background-position: center;

}
.navbar{
   width: 85%;
   padding: 10px 200px ;
   padding-bottom: 40px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color: #fff;
   margin-left: 0;
   
}

.logo{
   width: 120px;
   cursor: pointer;
}
.navbar ul li{
   list-style: none;
   display:inline-block ;
   margin: 0 20px;
   position: relative;
   padding: 0px 80px ;
  margin-bottom: 40px;
}
.navbar ul li a{
   text-decoration: none;
   color: rgb(30, 26, 26);

}
.navbar ul li::after{
   content: '';
   height: 3px;
   width: 0;
   background: #009688;
   position: absolute;
   left: 0;
   bottom: -10px;
   transition: 0.5s;

}
.navbar ul li:hover::after{
   width: 100%;
}
.content{
   width: 100%;
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   text-align: center;
   color: white;
}
.content h1{
   font-size: 70px;
   margin-top: 80px;
   margin-bottom: -1px;
}
 p{
   font-size: 20px;
   margin: 0;  
   margin-bottom: 30px; 
   color: white;
   /* text-align: center;
   color: white; */
 
}
button{
   width: 200px;
   padding: 15px ;
   text-align: center;
   margin: 20px 10;
   border-radius: 25px;
   font-weight: bold;
   border: 2px solid white;
   background-color: white;
   color: #009688;
   cursor: pointer;
   font-size: 15px;

}
 #about h1{
    font-size: 50px;
    text-align: center;
    margin-top: 80px;
   
    
}
 #text{
   border: 7px solid rgb(69, 155, 212);
   height: 400px;
   width: 500px;
   margin-left: 200px;
   margin-top: 50px;
   display: flex;

}
.img{
   height: 400px;
   width: 500px;
   margin-left: 30px;
   padding-top: 30px;
   
} 
.ss{
  margin-left: 80px;
  font-family: sans-serif;
  font-size: 30px;
  margin-top: 60px;
}
.pp{
   font-family: sans-serif;
   margin-top: -30px;
   font-size: 15px;
   text-align: start;
   color:gray;
}  */
.but{
   background-color: rgb(42, 149, 165);
   color: white;
}